name: CI

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '22'
    
      - name: Make run script executable
        run: chmod +x ./run

      - name: Install dependencies
        run: ./run install

      - name: Run tests
        run: ./run test

